* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --animal-font-family: "M PLUS Rounded 1c", "Zen Maru Gothic", Nunito, "Smiley Sans", "HarmonyOS Sans SC", "MiSans", -apple-system, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif !important;
}

body {
    font-family: "M PLUS Rounded 1c", "Zen Maru Gothic", Nunito, "HarmonyOS Sans SC", "MiSans", -apple-system, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    background: #fff;
}

#root {
    width: 100%;
    min-height: 100vh;
}

.animal-divider-ZBhpE,
.animal-line-teal-Z80hb {
    margin-bottom: 20px;
}

.animal-cursor {
    height: 100vh;
}
